body {
    margin: 0px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgb(247, 248, 248);
    box-shadow: rgb(183, 181, 181) 0px 1px 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top:15px;
    padding-bottom:10px;
}

a {
    color: black;
    text-decoration: none;
}

.page {
    margin-top:60px;
    margin-bottom: 15px;
    font-size:larger;
}

.logo {
    font-size:larger;
    font-weight: bolder;
    background: -webkit-linear-gradient(45deg, #0e71f2, #038924 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 15px;
}

.choices {
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}

.page-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabularizms {
    padding: 15px;
    border-radius: 15px;
    box-shadow: grey 0px 0px 10px;
    width: 400px;
    font-size: larger;
}

.row {
    display: grid;
    grid-template-columns: 55% 20% 25%;
    text-align: center;
}

.head {
    padding: 7.5px;
}

.row-start {
    padding-right: 5px;
    padding-left: 5px;
    border-right: lightslategray solid 2px;
}

.norm {
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: lightslategray solid 2px;
}

.final {
    padding-top: 10px;
    border-top: lightslategray solid 2px;
    width:100%;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
}

.decsprition {
    border-top: rgb(233, 237, 241) solid 2px;
    padding: 15px;
    text-align: start;
    grid-column-start: 1;
    grid-column-end: 4;
}

.dist {
    padding: 10px;
    border-radius: 10px;
    background-color: lightslategray;
    color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: grey 0px 0px 10px;
}

.chunk {
    display: grid;
    grid-template-rows: 50% 50%;
    text-align: center;
}

.chunkling { 
    width: 22px;
}

.lefty-righty {
    margin-top: 47px;
    display: grid;
    grid-template-columns: 15% 85%;
    height: 100%;
    width: 100%;
}

.lefty {
    box-shadow:inset 0 0 5px 1px #88a2b8;
    padding: 5px;
    min-height: calc(100vh - 47px);
    display: flex;
    flex-direction: column;
    background-color: #e8eef4;
    text-align: center;
}

.righty {
    padding: 5px;
}

.thing {
    margin-top: 47px;
}

.deck-select{ 
    font-size: large;
    margin-top: 2px;
    border: none;
    box-shadow: rgb(210, 210, 210) 0px 0px 5px 0.1px;
    background: white;
    border-radius: 5px;
}

.left-title {
    font-size: large;
    margin: 2.5px;
}