body {
    margin: 0px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgb(247, 248, 248);
    box-shadow: rgb(183, 181, 181) 0px 1px 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top:15px;
    padding-bottom:10px;
}

a {
    color: black;
    text-decoration: none;
}

.page {
    margin-top:60px;
    margin-bottom: 15px;
    font-size:larger;
}

.logo {
    font-size:larger;
    font-weight: bolder;
    background: -webkit-linear-gradient(45deg, #0e71f2, #038924 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 15px;
}

.choices {
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}

.page-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabularizms {
    padding: 15px;
    border-radius: 15px;
    box-shadow: grey 0px 0px 10px;
    width: 400px;
    font-size: larger;
}

.row {
    display: grid;
    grid-template-columns: 55% 20% 25%;
    text-align: center;
}

.head {
    padding: 7.5px;
}

.row-start {
    padding-right: 5px;
    padding-left: 5px;
    border-right: lightslategray solid 2px;
}

.norm {
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: lightslategray solid 2px;
}

.final {
    padding-top: 10px;
    border-top: lightslategray solid 2px;
    width:100%;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
}

.decsprition {
    border-top: rgb(233, 237, 241) solid 2px;
    padding: 15px;
    text-align: start;
    grid-column-start: 1;
    grid-column-end: 4;
}

.dist {
    padding: 10px;
    border-radius: 10px;
    background-color: lightslategray;
    color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: grey 0px 0px 10px;
}

.chunk {
    display: grid;
    grid-template-rows: 50% 50%;
    text-align: center;
}

.chunkling { 
    width: 22px;
}

.lefty-righty {
    margin-top: 47px;
    display: grid;
    grid-template-columns: 15% 85%;
    height: 100%;
    width: 100%;
}

.lefty {
    box-shadow:inset 0px -5px 5px 1px #88a2b8;
    padding: 5px;
    min-height: calc(100vh - 52px);
    display: flex;
    flex-direction: column;
    background-color: #e8eef4;
    text-align: center;
}

.righty {
    padding: 5px;
}

.thing {
    margin-top: 47px;
}

.deck-select{ 
    font-size: large;
    margin-top: 2px;
    border: none;
    box-shadow: rgb(210, 210, 210) 0px 0px 5px 0.1px;
    background: white;
    border-radius: 5px;
}

.left-title {
    font-size: large;
    margin: 2.5px;
}

.listed-card {
    display: grid;
    grid-template-columns: 45% 45% 10%;
    min-height: 75px;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    margin-top: 5px;
    box-shadow: rgb(210, 210, 210) 0px 0px 5px 1px;
    padding: 5px;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
}

.listed-card-title {
    width: auto;
    text-align: center;
}

.listed-card-field {
    margin: 5px;
    text-align: center;
}

.bord {
    width: 100%;
    height: 1px;
    background-color: gray;
}

.overlook {
    width: 100%;
    text-align: center;
}

.deck-label {
    width: 100%;
    text-align: center;
}

.study-top {
    margin-top: 47px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.exit-btn {
    border:none;
    background: none;
    margin-top: -30px;
}

.study-hold {
    min-height: calc(100vh - 97px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.toggle-btn {
    border:none;
    background: none;
    width: 60px;
}

.thang {
  stroke-width: 5;
  stroke: blue;
  fill: blue;
  stroke-linejoin: round;
  stroke-linecap:round;
  width: 50px;
}

.theng {
  width: 50px;
  stroke-width: 5;
  stroke: none;
  fill: none;
  stroke-linejoin: round;
  stroke-linecap:round;
}

.study-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
    box-shadow: 0px 0px 5px 2.5px lightgray;
    border-radius: 10px;
    width: 700px;
    height: 400px;
    perspective: 1000px;
}

.card-hold {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.study-card:hover .card-hold{
    transform: rotateY(180deg);
}

.card-body-front, .card-body-back {
    margin: auto;
    position: absolute;
    width: 100%;
    height: 400px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-body-back {
    transform: rotateY(180deg);
}

.basic-btn {
    border: solid gray 2px;
    border-radius: 5px;
    background-color: white;
}