body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgb(247, 248, 248);
    box-shadow: rgb(183, 181, 181) 0px 1px 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top:15px;
    padding-bottom:10px;
}

a {
    color: black;
    text-decoration: none;
}

.page {
    margin-top:55px;
    margin-bottom: 30px;
}

.logo {
    font-size:larger;
    font-weight: bolder;
    background: -webkit-linear-gradient(45deg, #0e71f2, #038924 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 15px;
}

.choices {
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}

.page-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabularizms {
    border: black solid 2.5px;
}