body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgb(247, 248, 248);
    box-shadow: rgb(183, 181, 181) 0px 1px 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top:15px;
    padding-bottom:10px;
}

a {
    color: black;
    text-decoration: none;
}

.page {
    margin-top:55px;
    margin-bottom: 10px;
}

.logo {
    font-size:larger;
    font-weight: bolder;
    background: -webkit-linear-gradient(45deg, #0e71f2, #038924 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 15px;
}

.choices {
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}

.page-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabularizms {
    border: black solid 2.5px;
    width: fit-content;
}

.row {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.head {
    padding: 7.5px;
}

.row-first {
    border-right: black solid 2px;
}

.row-start {
    padding-right: 5px;
    padding-left: 5px;
    border-right: black solid 2px;
}

.norm {
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: black solid 2px;
}

.final {
    border-top: black solid 2px;
    width:100%;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
}